<div>感谢您使用MagicBean帐户。</div>
<br/>
<div>请输入以下验证码以完成电子邮件地址验证过程。</div>
<br/>
<div>验证码：</div>
<div style="color: #399e63;"><strong><%= @code %></strong></div>
<br/>
<div>请注意，如果您未在3分钟内完成此过程，则以上验证码将失效。</div>
